{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вход в админку</title>
    <link rel="stylesheet" href="{% static 'adminpanel/css/login.css' %}">
    <script src="{% static 'adminpanel/js/login.js' %}" defer></script>
</head>
<body>
    <div class="login-wrapper">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h1 class="glitch" data-text="Admin Login">Admin Login</h1>
            
            <div class="input-group">
                <input type="text" name="username" required placeholder=" " autocomplete="off">
                <label>Логин</label>
                <span class="bar"></span>
            </div>

            <div class="input-group">
                <input type="password" name="password" required placeholder=" " autocomplete="off">
                <label>Пароль</label>
                <span class="bar"></span>
            </div>

            <button type="submit" class="btn-neon">Войти</button>
        </form>
    </div>
</body>
</html>
