{% extends "main/base.html" %}
{% block title %}Проекты{% endblock %}

{% block content %}
<section class="projects">
    <h2 data-aos="fade-right">Все проекты</h2>
    <div class="grid">
        {% for project in projects %}
        <div class="card" data-aos="fade-up">
            {% if project.image %}
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
                <h3>{{ project.title }}</h3>
                <p>{{ project.short_description }}</p>
                {% if project.link %}
                <a href="{{ project.link }}" target="_blank" class="btn-small">Открыть</a>
                {% endif %}
                <div class="tags">
                    {% for tag in project.tags.all %}
                    <span class="tag">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Пока проектов нет 😢</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
