{% extends "main/base.html" %}
{% block title %}Навыки{% endblock %}

{% block content %}
<section class="skills">
    <h2 data-aos="fade-right">Навыки</h2>
    <div class="skills-list">
        {% for skill in skills %}
        <div class="skill" data-aos="fade-up">
            <span>{{ skill.name }}</span>
            <div class="progress-bar">
                <div class="progress" style="width: {{ skill.level }}%"></div>
            </div>
            <span class="level">{{ skill.level }}%</span>
        </div>
        {% empty %}
        <p>Навыков пока нет 😢</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
