{% extends "main/base.html" %}
{% load static %}
{% block title %}Обо мне{% endblock %}

{% block content %}
<section class="about">
    <h2 data-aos="fade-right">Обо мне</h2>
    <div class="about-grid">
        <div class="about-text" data-aos="fade-up">
            <p>Привет 👋, меня зовут <span class="neon">ТвоёИмя</span>. 
            Я Python/Django разработчик, создаю современные сайты и приложения.</p>
            <p>Люблю писать чистый код, изучать новые технологии и решать интересные задачи.</p>
            <p>В свободное время изучаю машинное обучение и экспериментирую с киберпанк-дизайнами 💻⚡.</p>
        </div>
        <div class="about-photo" data-aos="zoom-in">
            <img src="{% static 'main/img/user.png' %}" alt="Моё фото">
        </div>
    </div>
</section>
{% endblock %}
